# Backend
SERVER_PORT=8080
DATABASE_URL=postgres://user:password@postgres:5432/auth_db?sslmode=disable
JWT_SECRET=your-secret-key
RECAPTCHA_SECRET_KEY=your-recaptcha-secret
RECAPTCHA_DISABLED=false
GIN_MODE=debug

# Postgres
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=auth_db

# Frontend
VITE_API_URL=http://localhost:8080

