basePath: /
host: localhost:8080
info:
  contact: {}
  description: Authentication API for Rakuten Symphony assignment
  title: Rakuten Symphony Auth API
  version: "1.0"
paths: {}
securityDefinitions:
  BearerAuth:
    in: header
    name: Authorization
    type: apiKey
swagger: "2.0"
